body {
  font-family: "Mina", sans-serif;
}
.container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  width: 45%;
}
.list-item {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 10px;
}
.list-item:last-child {
  border-bottom: 1px solid grey;
}
.list:hover {
  cursor: pointer;
}
.user {
  width: 45%;
}

img {
  width: 100%;
}
.user {
  font-size: 0;
}
.user-name {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.user-info {
  font-size: 1rem;
  padding: 7px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}
